**/.vs/
**/.DS_Store/
**/.vscode/
**/build/
**/dist/
**/CMakeFiles/
**/download/
**/astyle/
NFIQ2/NFIQ2Api/version.*.*.cpp
NFIQ2/NFIQ2Api/version.*.*.rc
NFIQ2/NFIQ2Training

modules/core/include/opencv2/core/cv_cpu_helper.h




