[submodule "fingerjetfxose"]
	path = fingerjetfxose
	url = https://github.com/FingerJetFXOSE/FingerJetFXOSE.git
[submodule "digestpp"]
	path = digestpp
	url = https://github.com/kerukuro/digestpp.git
[submodule "biomdi/biomdi"]
	path = biomdi/biomdi
	url = https://github.com/usnistgov/biomdi.git
[submodule "libbiomeval"]
	path = libbiomeval
	url = https://github.com/usnistgov/libbiomeval.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
