**/.vs/
**.DS_Store
**/.vscode/
**/build*/*
**/dist/
**/CMakeFiles/
**/download/
NFIQ2/NFIQ2Api/version.*.*.cpp
NFIQ2/NFIQ2Api/version.*.*.rc
NFIQ2/NFIQ2Algorithm/src/nfiq2/version.cpp

modules/core/include/opencv2/core/cv_cpu_helper.h

